.main {
    clear: both;
}

.main .main__about {
    overflow: hidden;
}

.main .main__about .main__about__about {
    width: 100%;
}

.main .main__about .main__about__about h2 {
    text-align: right;
    padding-top: 0;
}

.main .main__about .main__about__about p {
    font-size: 22px;
    line-height: 28px;
    text-align: right;
}

.main .main__about .main__foto {
    margin-top: 25px;
    text-align: left;
    width: 100%;
}    

.main .main__about .main__foto .main__foto__avatar { 
    margin: 0 auto;
    max-width: 100%;
}

@media screen 
    and (min-width: 992px) {        
        .main .main__about .main__about__about {
            float: right;
            width: calc(70% - 30px);
            margin: 0;
            padding-right: 10px;
        }

        .main .main__about .main__about__about h2 {
            text-align: right;
        }
        
        .main .main__about .main__about__about p {
            text-align: right;
        }

        .main .main__about .main__foto {
            margin-top: 0;
            width: 30%;
            float: left;
            text-align: left;
        }
    }

/* 
    Abas
*/
.main .main__abas {
    clear: both;
    overflow: hidden;
}

.main .main__abas .main__abas__botao {
    background-color: #008000;
    color: #ffff;
    padding: 10px 15px;
    display: inline-block;
    margin-right: 15px;
}

.main .main__abas .main__abas__botao.active {
    background-color: #0000FF;
}

.main .main__abas__abas {
    display: none;
    border: 1px solid #c7c9cf;
    padding: 20px;
}

.main .main__abas__abas.active {
    display: block;
    border-top: 4px #363940 solid;
}

.main .abas__tab ul li {
    padding: 5px 0;
}
/*
    Formulario
*/
.main__formulario {
    clear: both;
    overflow: hidden;
    padding-bottom: 40px;
}

.main__formulario .form-label {
    display: block;
    padding-bottom: 3px;
    font-weight: bold;
}

.main__formulario .field {
    display: block;
    padding: 7px;
    margin-bottom: 20px;
    width: 100%;
}

.main__formulario .loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #818592;
    display: none; 
    text-align: center;
    font-size: 36px;
    color: #fff;
}

.main__formulario .loading.show {
    display: block;
}

@media screen 
    and (min-width: 992px) {  
        .main__formulario .field {
            width: 50%;
        }

        .main__formulario textarea.field {
            width: 80%;
        }
    }

/* 
    Skills
*/
.main .main__skills { 
    clear: both;
    overflow: hidden;
}

.main .main__skills .main_skills_bars__bar {
    border: 1px solid #c7c9cf;
    margin-top: 15px;   
    overflow: hidden;
}

.main .main__skills .main_skills_bars__bar__inner { 
    float: left;
    color: #fff;
    background-color: #0000FF;
    padding: 5px;
}



